.container {
  /* display: flex; */
  /* background-color: red; */
  /* flex-direction: column; */
  /* height: em; */
  /* justify-content: center; */
  /* align-items: center; */
}
.titleContainer {
  display: flex;
  background-color: brown;
  justify-content: center;
  /* align-self: center; */
}
.searchContainer {
  display: flex;
  /* background-color: aqua; */
  /* height: 5em; */
  padding: 8px;
  justify-content: center;
  /* align-self: center; */
  /* padding-top: 3em; */
  /* flex-direction: column; */
}
.title {
  color: black;
}
.inputArea {
  display: flex;
  justify-content: space-between;
}
.input {
  width: 60em;
  height: 3em;
}
.buttonComp {
}
